<%= stylesheet_link_tag"shared_account_prof"%>

<div class="shared-container">
    <div class="shared-wrapper">
        <p><%= link_to("アカウント","/user/show") %></p>

        <p><%= link_to("プロフィール","/user/prof") %></p>
    </div>
</div>