
table{
    margin:0 auto;
}

input{
    text-align:center;
}

.button{
    display: inline-block;
    margin-top:10px;
    margin: 0 auto;
}


.right{
    height:50px;
    width:250px;
}

.left{
    height:50px;
    width:250px;
}

div{
    text-align:center;
}
