table{
    margin-bottom:100px;
}

.submit{
    text-align:center;
    padding-top:30px;
}

.left{
     width:200px;
     height:50px;
}

.right{
     width:300px;
     height:50px;
}

textarea{
    height:200px;
    width:200px;
}

.user_image{
    height:200px;
    width:250px;
    margin: 0 auto;
}
